<div class="container">
  <h1><%=@portfolio.name%></h1>

  <%= render "form", transaction: @transaction %>
  </div>

  <div class="container list">
    <h1>Registered Transactions</h1>
    <%@registered.each do |t| %>
      <%symbol_in = @coins.find(t.coin_in_id).symbol%>
      <%symbol_out = @coins.find(t.coin_out_id).symbol%>
      <%if t.coin_fees_id
      symbol_fees = @coins.find(t.coin_fees_id).symbol
      else
      symbol_fees = "none"
      end%>
      <%t.date ? date = t.date.strftime("%d%b%y ") : date = t.created_at.strftime("%d%b%y ")%>
      <%# <%date = t.created_at.strftime("%d%b%y %Hh%M")%>
      <%# <%date = t.date.strftime("%d%b%y ") %>

      <p> <%=date%> Buy <%=symbol_in%> <%=t.amount_in%> Sell <%=symbol_out%> <%=t.amount_out%> Fees <%=symbol_fees%> <%=t.amount_fees%></p>

    <%end%>
  </div>
</div>

<%#  donner les infos sur les cryptos du ptf au js %>
<div class="dontdisplay">
<ol id="id">     <%@coins.each do |c|%> <li><%=c.id%>     </li> <% end %> </ol>
<ol id="symbol"> <%@coins.each do |c|%> <li><%=c.symbol%> </li> <% end %> </ol>
<ol id="stock">  <%@coins.each do |c|%> <li><%=c.stock%>  </li> <% end %> </ol>
<ol id="price">  <%@coins.each do |c|%> <li><%=c.price%>  </li> <% end %> </ol>
</div>
